<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="server" value=""/>
		<add key="database" value=""/>
		<add key="conference" value="conference"/>
		<add key="participant" value="participant"/>
		<add key="speakers" value="speakers"/>
		<add key="report" value="report"/>
		<add key="multi-window" value="false"/>
	</appSettings>
</configuration>